@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', serif;
}

.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%; /*top-bot:20px ; left-right:10% */
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.right-navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

/* Hero Content */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    gap: 40px; /* gap is spacing between the innermost sibling elements ie between content-left and content-right */
}

.content-left{
    flex: 1;  /* take 50% left flex space */
}

.content-left h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.content-left p{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.content-left button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Right (Image) */
.content-right {
    flex: 1; /* take 50% right flex space */
    /* by default img will align on top-left in flex without these below properties. But for this project much changes can't be seen so its safe to remove it */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block; /* since img is inline element, it may have some unwanted whitesapce. So display:block will remove any unwanted whitesapce*/
}


/* Second-section */
.second-section{
    text-align: center;
    margin: 80px auto;
}

.second-section h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    flex-wrap: wrap; /*to prevent cards staying in same line when viewport shrinks*/
}

.card{
    max-width: 150px;
}

.blue-box{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* If device screen is less then 500px, then apply the below rule for card*/
@media (max-width: 500px) {
    .card{
        max-width: 100%; /* Each card will strech to max parent size(150px) to show only 1card per line for small screen device*/
        margin: 10px auto; /* Center align if needed */
        display: flex;   /* Enable Flexbox in a card */
        flex-direction: column;  /* Stack blue-box and text vertically */
        align-items: center;  /* Center blue-box horizontally */
    }
}


/*Third section */
.third-section{
    background-color: #E5E7EB;
    padding: 50px 20px;
    text-align: center;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
    margin: 0 auto; /* Center quote text*/
}

.quote-author {
    font-weight: 700;
    color: #1F2937;
    text-align: right;
    max-width: 800px;  /* Same as quote-text */
    margin: 20px auto 0; /*top right+left bottom */
}

/*Forth-section*/

.fourth-section {
    background-color: #F9FAF8;
    padding: 50px 20px;
}

.blue-container{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto; /*place blue container in center */
    display: flex;
    justify-content: space-between; /* to move Sign Up button to right corner */
    align-items: center
}

.blue-container-text{
    text-align: left; /* Align h3 and p to the left */
}


.blue-container-text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.blue-container-text p{
    font-size: 16px;
    color: #E5E7EB;
}

.signup-btn{
    background-color: transparent;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}